 header {
	border-style: groove;
	background: linear-gradient(45deg, #451274, white);
}
#nav_bar a :hover {
	color: black;
}
#ConeyConesHeader {
	text-shadow: -2px -2px 40px purple;
	color: white;
	font-style: italic;
	font-family:"Century Gothic";
	line-height: 50%;
}
main {
	padding: 8px;
	background-color:white;
}
section {
	width:100%;
}
body {
	font-family: sans-serif;
}	
aside {
	width: 38%;
	padding: 1em;
	position: absolute;
	right: 24.375em;
	top: 30em;
	clear: both;
	
}	
aside p {
	font-size: 90%;
	font-style: italic;
}
footer {
	font-size: 80%;
	text-align: center;
	border-style: groove;
	background: linear-gradient(45deg, white, #451274);
	width: 100%;
}
#toolbar img {
	max-height: 2.3175em;
	max-width: 3.125em;
	width: 1.875em;
	height: 1.875em;
	float: right;
	padding: .1875em .1875em
}
#Pomegranate img {
	max-height: 18.75em;
	max-width: 10.937em;
	width: 11.25em;
	height: 16.875em
	padding: 0;
}
#Store img {
	max-height: 25em;
	max-width: 31.25em;
	width: 19.375em;
	height: 14.062em;
	float: right;
	padding-top: 0px;
	padding-right: 2.187em;
}

#nav_bar ul {
	list-style: none;
	padding: .5em 2em ;
	background-color: #6A418F;
	margin-top: 0;
	
	
}
#nav_bar li {
	display: inline;
	
}
#nav_bar a {
	padding: .5em 3.3em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	
}
#nav_bar a.current {
	text-decoration: underline;
}
#wrap {
	width: 900px;
	margin: auto;
}
h2 {
	font-style: italic;
	font-family:"Century Gothic";
	color: white;
}

h1::first-letter {
	font-size: 200%
}
header p{
	float: right;
	font-size: 80%;
	color: black;
}
html {
	background-image: url("../Images/snowflakes.jpg");	
}
#mobile_menu {
	display: none;
}
@media print
{

		body
		{
		font-family: "Times New Roman", Times, serif;
		clear: all;
		width: auto;
		float:right;\
		box-shadow: none;
	}
	h1,h2 {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	#nav_bar{
		display: none;
	}
	
	header{
		display: none;
	}
	footer{
		display: none;
	}
	#Store img {
		display: none;
	}
	#Pomegranate img {
		display: none;
	}
	h3{
		display: none;
	}
	aside{
		display:none;
	}
	
	
}
@media screen and (max-width: 800px){
	
	html {
	background-image: none;
}

	body {
		font-size: 90%;
	}
	aside {
		display: none;
	}
	#Pomegranate {
		padding-left: 15em;
	}
	#FlavorofMonth{
		padding-left: 15em;
	}
	
}
@media screen and (max-width: 767px){
	
	
	#nav_bar{
		display: none;
	}
	#mobile_menu{
	display:block;
}
section {
	float:none;
	padding-left: 2em
	
}
#Store {
	display:none;
}
#Pomegranate{
	padding-left: 7em;
}
#FlavorofMonth{
		padding-left: 7em;
	}
	
}
@media screen and (max-width: 479px){
	
	h1{
		font-size: 130%;
	}
	h4{
		font-size: 90%;
	}
	h2{
		font-size: 110%;
	}
	#Pomegranate{
		padding-left: 3em;
	}
	#FlavorofMonth{
		padding-left: 3em;
	}
	
	
}



